<h1>@Model.Name</h1>

<p>
  <a asp-controller="EstateUnit" asp-action="New">Add Estate Unit</a>
</p>
<table>
  <tbody>
    @foreach (var estateUnit in Model.EstateUnits)
    {
        <tr>
          <td>
            @estateUnit.Name
          </td>
        </tr>
    }
  </tbody>
</table>