@model rema.Models.RealEstate

<h1>@Model.Name</h1>

<p>
  <a asp-controller="EstateUnit" asp-action="New" asp-route-RealEstateId="@Model.Id">Add Estate Unit</a>
</p>
<p>
  <a asp-controller="EstateUnit" asp-action="Index" asp-route-RealEstateId="@Model.Id">Show Estate Units</a>
</p>